<a href="https://colab.research.google.com/github/FariaTabassum/Human-Activity-Intensity-Project/blob/master/Similarity_measurement_final.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
 from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [ ]:
import pandas as pd
import numpy as np

In [ ]:
df_all = pd.read_excel("/content/drive/My Drive/Thesis/thesis/SurveyDataset_diabetic.xlsx")
df_all.head()

,Class,Parental Diabetes,Gender,Age,Drinking,Eating,Sitting,Lying,Normal Standing,Moderate Standing,...,Normal downstairs [Any other places],Moderate downstairs [Any other places],Vigorous downstairs [Any other places],Jogging,Cycling,Itching,Breathing,Chest pain,Blood Pressure,Bmi
0,1,50,0,43,9,4,500,135,11.00,9.5,...,0,0,0,15.0,14,6.0,1,0,1,25.59788
1,0,50,0,24,3,3,420,80,12.00,12.0,...,2,4,0,34.0,0,2.0,1,1,2,27.31327
2,1,50,0,54,9,4,490,130,11.00,9.0,...,0,0,0,14.5,15,4.0,1,0,1,23.88442
3,1,50,0,45,8,45,510,140,12.00,8.0,...,0,0,0,14.0,18,6.0,1,1,1,33.83626
4,0,50,0,25,3,3,300,81,11.54,16.0,...,2,0,0,36.0,0,2.0,1,0,2,28.26323

In [ ]:
df_diabetic = df_all[df_all['Class'] == 1]
df_diabetic.shape

(130, 37)

In [ ]:
df_diabetic

,Class,Parental Diabetes,Gender,Age,Drinking,Eating,Sitting,Lying,Normal Standing,Moderate Standing,...,Normal downstairs [Any other places],Moderate downstairs [Any other places],Vigorous downstairs [Any other places],Jogging,Cycling,Itching,Breathing,Chest pain,Blood Pressure,Bmi
0,1,50,0,43,9,4,500,135,11.00,9.5,...,0,0,0,15.0,14,6.0,1,0,1,25.59788
2,1,50,0,54,9,4,490,130,11.00,9.0,...,0,0,0,14.5,15,4.0,1,0,1,23.88442
3,1,50,0,45,8,45,510,140,12.00,8.0,...,0,0,0,14.0,18,6.0,1,1,1,33.83626
8,1,0,1,55,7,3,510,140,10.00,7.0,...,3,2,0,18.0,0,9.0,0,0,0,25.83929
9,1,50,1,61,8,3,520,147,10.00,10.0,...,3,2,0,16.0,0,5.0,1,1,1,23.48490
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
236,1,50,0,50,12,3,509,133,10.00,10.0,...,0,0,0,15.0,0,5.0,1,0,1,24.83024
237,1,50,1,60,9,4,500,140,12.00,9.5,...,0,0,0,15.0,0,6.0,1,1,1,29.17514
238,1,50,1,65,6,4,520,138,11.54,8.0,...,1,3,1,17.0,0,6.0,1,1,0,27.31327
239,1,50,0,48,8,4,520,140,9.00,8.0,...,1,0,1,16.0,0,8.0,1,0,1,26.68738
259,1,50,0,50,12,3,509,133,10.00,10.0,...,0,0,0,15.0,0,5.0,1,0,1,24.83024

In [ ]:
df =  df_diabetic.drop("Class", axis = 1)
#df =  df.drop("Bmi", axis = 1)

In [ ]:
df.isna().sum()

Parental Diabetes                         0
Gender                                    0
Age                                       0
Drinking                                  0
Eating                                    0
Sitting                                   0
Lying                                     0
Normal Standing                           0
Moderate Standing                         0
Vigorous Standing                         0
Normal Walking                            0
Moderate Walking                          0
Vigorous Walking                          0
Urination                                 0
Using Lift                                0
Floor[Residence]                          0
Floor                                     0
Normal upstairs [Residence]               0
Moderate upstairs [Residence]             0
Vigorous upstairs [Residence]             0
Normal upstairs [Any other place]         0
Moderate upstairs [Any other place]       0
Vigorous upstairs [Any other place]       0
Normal downstairs [Residence]             0
Moderate downstairs [Residence]           0
Vigorous downstairs [Residence]           0
Normal downstairs [Any other places]      0
Moderate downstairs [Any other places]    0
Vigorous downstairs [Any other places]    0
 Jogging                                  0
Cycling                                   0
Itching                                   0
 Breathing                                0
Chest pain                                0
Blood Pressure                            0
Bmi                                       0
dtype: int64

In [ ]:
df = df.dropna()

In [ ]:
df.isna().sum()

Parental Diabetes                         0
Gender                                    0
Age                                       0
Drinking                                  0
Eating                                    0
Sitting                                   0
Lying                                     0
Normal Standing                           0
Moderate Standing                         0
Vigorous Standing                         0
Normal Walking                            0
Moderate Walking                          0
Vigorous Walking                          0
Urination                                 0
Using Lift                                0
Floor[Residence]                          0
Floor                                     0
Normal upstairs [Residence]               0
Moderate upstairs [Residence]             0
Vigorous upstairs [Residence]             0
Normal upstairs [Any other place]         0
Moderate upstairs [Any other place]       0
Vigorous upstairs [Any other place]       0
Normal downstairs [Residence]             0
Moderate downstairs [Residence]           0
Vigorous downstairs [Residence]           0
Normal downstairs [Any other places]      0
Moderate downstairs [Any other places]    0
Vigorous downstairs [Any other places]    0
 Jogging                                  0
Cycling                                   0
Itching                                   0
 Breathing                                0
Chest pain                                0
Blood Pressure                            0
Bmi                                       0
dtype: int64

In [ ]:
import math

def square_rooted(x):
   return round(math.sqrt(sum([a*a for a in x])),3)
  
def cosine_similarity(x,y):
 numerator = sum(a*b for a,b in zip(x,y))
 denominator = square_rooted(x)*square_rooted(y)
 return round(numerator/float(denominator),3)

In [ ]:
diabetic = df.astype(float)
print(df.dtypes)

Parental Diabetes                           int64
Gender                                      int64
Age                                         int64
Drinking                                    int64
Eating                                      int64
Sitting                                     int64
Lying                                       int64
Normal Standing                           float64
Moderate Standing                         float64
Vigorous Standing                           int64
Normal Walking                              int64
Moderate Walking                            int64
Vigorous Walking                            int64
Urination                                   int64
Using Lift                                  int64
Floor[Residence]                            int64
Floor                                       int64
Normal upstairs [Residence]                 int64
Moderate upstairs [Residence]               int64
Vigorous upstairs [Residence]               int64
Normal upstairs [Any other place]           int64
Moderate upstairs [Any other place]         int64
Vigorous upstairs [Any other place]         int64
Normal downstairs [Residence]               int64
Moderate downstairs [Residence]             int64
Vigorous downstairs [Residence]             int64
Normal downstairs [Any other places]        int64
Moderate downstairs [Any other places]      int64
Vigorous downstairs [Any other places]      int64
 Jogging                                  float64
Cycling                                     int64
Itching                                   float64
 Breathing                                  int64
Chest pain                                  int64
Blood Pressure                              int64
Bmi                                       float64
dtype: object

In [ ]:
diabetic = np.array(df)

In [ ]:
diabetic

array([[50.     ,  0.     , 43.     , ...,  0.     ,  1.     , 25.59788],
       [50.     ,  0.     , 54.     , ...,  0.     ,  1.     , 23.88442],
       [50.     ,  0.     , 45.     , ...,  1.     ,  1.     , 33.83626],
       ...,
       [50.     ,  1.     , 65.     , ...,  1.     ,  0.     , 27.31327],
       [50.     ,  0.     , 48.     , ...,  0.     ,  1.     , 26.68738],
       [50.     ,  0.     , 50.     , ...,  0.     ,  1.     , 24.83024]])

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 130 entries, 0 to 259
Data columns (total 36 columns):
 #   Column                                  Non-Null Count  Dtype
---  ------                                  --------------  -----
 0   Parental Diabetes                       130 non-null    int64
 1   Gender                                  130 non-null    int64
 2   Age                                     130 non-null    int64
 3   Drinking                                130 non-null    int64
 4   Eating                                  130 non-null    int64
 5   Sitting                                 130 non-null    int64
 6   Lying                                   130 non-null    int64
 7   Normal Standing                         130 non-null    float64
 8   Moderate Standing                       130 non-null    float64
 9   Vigorous Standing                       130 non-null    int64
 10  Normal Walking                          130 non-null    int64
 11  Moderate Walking                        130 non-null    int64
 12  Vigorous Walking                        130 non-null    int64
 13  Urination                               130 non-null    int64
 14  Using Lift                              130 non-null    int64
 15  Floor[Residence]                        130 non-null    int64
 16  Floor                                   130 non-null    int64
 17  Normal upstairs [Residence]             130 non-null    int64
 18  Moderate upstairs [Residence]           130 non-null    int64
 19  Vigorous upstairs [Residence]           130 non-null    int64
 20  Normal upstairs [Any other place]       130 non-null    int64
 21  Moderate upstairs [Any other place]     130 non-null    int64
 22  Vigorous upstairs [Any other place]     130 non-null    int64
 23  Normal downstairs [Residence]           130 non-null    int64
 24  Moderate downstairs [Residence]         130 non-null    int64
 25  Vigorous downstairs [Residence]         130 non-null    int64
 26  Normal downstairs [Any other places]    130 non-null    int64
 27  Moderate downstairs [Any other places]  130 non-null    int64
 28  Vigorous downstairs [Any other places]  130 non-null    int64
 29   Jogging                                130 non-null    float64
 30  Cycling                                 130 non-null    int64
 31  Itching                                 130 non-null    float64
 32   Breathing                              130 non-null    int64
 33  Chest pain                              130 non-null    int64
 34  Blood Pressure                          130 non-null    int64
 35  Bmi                                     130 non-null    float64
dtypes: float64(5), int64(31)
memory usage: 37.6 KB

In [ ]:
experimental_1 = [0,0,65,9,5,185,479.88,10.99,9.03,7.98,35.925,25.99,19.08,6,0,5,0,1,1,0,0,0,0,1,1,0,0,0,0,0,0,13,1,0,0,21.31040]
#experimental = [0,0,0,23,3,4,480,60,12,10,5,35,26,15,6,0,5,0,1,2,1,0,0,0,1,2,1,0,0,0,35,0,3,0,0,0,16.86052]
arr = []
for row in diabetic:
  new_row = [float(i) for i in row]
  a = cosine_similarity(experimental_1,new_row)
  print(cosine_similarity(experimental_1,new_row))
  arr.append(a)

0.596
0.594
0.598
0.603
0.607
0.614
0.604
0.594
0.6
0.604
0.596
0.621
0.589
0.604
0.604
0.602
0.595
0.602
0.569
0.607
0.589
0.597
0.595
0.62
0.606
0.612
0.584
0.606
0.609
0.587
0.598
0.621
0.566
0.59
0.645
0.618
0.58
0.582
0.639
0.608
0.588
0.602
0.599
0.595
0.601
0.602
0.593
0.611
0.601
0.599
0.618
0.586
0.621
0.601
0.614
0.61
0.582
0.574
0.608
0.618
0.604
0.62
0.604
0.641
0.596
0.609
0.611
0.614
0.618
0.623
0.618
0.624
0.632
0.591
0.607
0.611
0.588
0.621
0.609
0.612
0.62
0.604
0.605
0.657
0.619
0.588
0.62
0.606
0.63
0.605
0.604
0.59
0.615
0.583
0.608
0.612
0.612
0.61
0.603
0.632
0.615
0.662
0.613
0.596
0.583
0.601
0.586
0.613
0.583
0.62
0.617
0.605
0.597
0.584
0.617
0.597
0.609
0.581
0.582
0.605
0.583
0.608
0.61
0.609
0.616
0.59
0.605
0.594
0.595
0.59

In [ ]:
sum(arr)/130

0.6047692307692305

In [ ]:
experimental_2 = [0,0,23,3,3,180.08,640.47,11.9,9.65,8.70,49.76,34.76,24.92,4,1,12,7,1,2,1,2,5,3,2,1,1,5,4,2,60,20,5,1,1,1,16.86052]
#experimental_2 = [0,0,23,5,4,360,420,20,10,15,35,26,15,3,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,16.86052]
arr = []
for row in diabetic:
  new_row = [float(i) for i in row]
  a = cosine_similarity(experimental_2,new_row)
  print(cosine_similarity(experimental_2,new_row))
  arr.append(a)

0.516
0.513
0.518
0.522
0.525
0.533
0.523
0.514
0.519
0.525
0.516
0.54
0.508
0.525
0.525
0.519
0.515
0.523
0.488
0.526
0.506
0.514
0.516
0.543
0.528
0.531
0.507
0.525
0.526
0.505
0.514
0.539
0.485
0.508
0.564
0.535
0.5
0.501
0.558
0.527
0.507
0.521
0.518
0.51
0.519
0.521
0.514
0.53
0.522
0.517
0.54
0.502
0.544
0.519
0.537
0.527
0.504
0.49
0.528
0.539
0.521
0.542
0.523
0.564
0.517
0.528
0.529
0.532
0.536
0.545
0.536
0.548
0.553
0.507
0.528
0.53
0.507
0.544
0.529
0.533
0.539
0.526
0.528
0.579
0.54
0.507
0.541
0.524
0.555
0.522
0.523
0.505
0.537
0.501
0.527
0.532
0.533
0.528
0.522
0.553
0.537
0.589
0.535
0.514
0.501
0.52
0.507
0.535
0.498
0.542
0.536
0.524
0.515
0.501
0.537
0.518
0.527
0.499
0.501
0.521
0.502
0.527
0.531
0.529
0.536
0.509
0.522
0.511
0.514
0.509

In [ ]:
sum(arr)/130

0.9871769230769228